*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
SomaggiaInFesta.iml
app/build
app/libs
app/app.iml
app/proguard-rules.pro
gradle
.idea
